@font-face {
    font-family: PerfectDOS;
    src: url('../Perfect DOS VGA 437.ttf');
}

body {
    background-image: url('../images/monitor.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-color: black;
    font-size: 180%;

}

.mainContent {
    padding: 15%;
    font-family: PerfectDOS;
}

#hashString,
#lettersGuessed {
    text-transform: uppercase;
}

.ascii {
    border: 80px;
}